
.primary-text{
  color: #00897B !important;
}
.light-text{
  color: #EEEEEE !important;
  
}
.primary-bg{
  background-color: #00897B !important;
}
.btn-dark{
  border: none !important;
  background-color: rgb(71 85 105) !important;
}
.dark-bg{
  background-color: rgb(71 85 105) !important;
}
.btn-dark:hover{
  background-color: #282c34 !important;
}
.secondery-text{
  color: rgb(71 85 105) !important;
}
.secondery-bg{
  background-color: #EEEEEE !important;
}